%p Personal Food Inventory
#login
  %form(action="/user/login" method="post")
    %input(type='textfield' name='username')
    %input(type='password' name='password')
    %input(type='submit' )
#signup
  signup
#about
  about
