Signup
#usercreatemsg
  = flash[:user_create_msg]
%form(action="/user/create" method="post")
  %p
    Name
    %input(type="textfield" name="name")
  %p
    Username
    %input(type="textfield" name="username")
  %p
    Email
    %input(type="textfield" name="email")
  %p
    Password
    %input(type="password" name="password")
  %p
    Confirm Password
    %input(type="password" name="password_confirm")
  %input(type="submit")
