%p
  Personal Food Inventory
  %br
  = flash[:message]
#login
  %form(action="/user/login" method="post")
    %input(type="textfield" name="username")
    %input(type="password" name="password")
    %input(type="submit")
  = flash[:login_message]
#signup
  %a(href="/signup") Sign up
#about
  %a(href="/about") About
