%p
  Personal Food Inventory
%p
  = flash[:message]

= form(:action => UserController.r(:login), :method => :post) do |f|
  - f.text "Username", :username
  - f.password "Password", :password
  - f.submit

= MainController.a 'Sign up', :signup
= MainController.a 'About', :about
