Scans
%table
  %tr
    %th
      Food
    %th
      Time
    %th
      Location
    - @scans.each do |scan|
      %tr
        %td
          = food_name scan
        %td 
          = scan.timestamp
        %td 
          = scan.location
